* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.icons-mobile {
  display: none;
}

nav.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #ffffff;
  text-align: center;

  span {
    font-size: 2rem;
    font-weight: 800;
    color: #252b42;
  }

  #nav-links,
  #nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  #nav-links a,
  #nav-icons a {
    color: #737373;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
  }

  #nav-links a:hover,
  #nav-icons a:hover {
    color: #23a6f0;
  }

  #nav-links a::after,
  #nav-icons a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #23a6f0;
    transition: width 0.4s ease;
  }

  #nav-links a:hover::after,
  #nav-icons a:hover::after {
    width: 100%;
  }

  #nav-icons img {
    width: 35px; /* Ajuste o tamanho conforme necessário */
    margin: 10px;
    cursor: pointer;
  }

  #nav-icons img:hover {
    filter: brightness(0) invert(0);
    transform: scale(1.2);
  }
}

nav.mobile {
  display: none;
}

#carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 76px;
  background-image: url("public/images/carousel/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  height: 640px;

  #carousel-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  svg {
    font-size: 50rem;
    color: #ffffff;
    margin: 0 20px;
    filter: drop-shadow(2px 2px 2px #000000);
    cursor: pointer;
  }

  #carousel-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;

    h2 {
      font-size: 3rem;
      font-weight: 800;
      color: #ffffff;
      text-align: center;
      text-shadow: 2px 2px 2px #000000;
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
      color: #ffffff;
      width: 50%;
      text-align: center;
      text-shadow: 2px 2px 2px #000000;
    }

    button {
      padding: 10px 20px;
      background-color: #23a6f0;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 600;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 2px #1f1e1e;
      cursor: pointer;
    }

    button:hover {
      background-color: #1e87c3;
    }

    button:active {
      background-color: #1b7aae;
    }
  }

  .carousel-indicators {
    display: flex;
    justify-content: center;
    margin: 100px 0 60px 0;
  }

  .dot {
    height: 6px;
    width: 35px;
    margin: 0 2px;
    background-color: #b3b3b3;
    border-radius: 20%;
    border: none;
    box-shadow: 2px 2px 2px #1f1e1e;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: #ffffff;
  }
}

.card-product-bg {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  padding: 30px;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #666464;
  border-radius: 3px;
  border: 2px solid rgba(236, 236, 236, 1);
  width: 332px;
  height: 232px;

  img {
    width: 183px;
    height: 162px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    color: #252b42;
    margin: 10px 0;
  }

  p {
    font-size: 12px;
    font-weight: 400;
    color: #252b42;
  }
}

.image-1 {
  background-image: url("public/images/product-1.png");
  background-size: 183px 162px; /* Imagem ocupa metade da largura e toda a altura */
  background-position: right; /* Posiciona a imagem na metade esquerda */
  background-repeat: no-repeat;
}

.image-2 {
  background-image: url("public/images/product-2.png");
  background-size: 183px 162px; /* Imagem ocupa metade da largura e toda a altura */
  background-position: right; /* Posiciona a imagem na metade esquerda */
  background-repeat: no-repeat;
}

.image-3 {
  background-image: url("public/images/product-3.png");
  background-size: 183px 162px; /* Imagem ocupa metade da largura e toda a altura */
  background-position: right; /* Posiciona a imagem na metade esquerda */
  background-repeat: no-repeat;
}

.section-shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  padding: 48px auto 48px 211px;

  aside {
    background-image: url("public/images/aside-1.png");
    background-size: 450px 796px;
    background-repeat: no-repeat;
    width: 450px;
    height: 796px;
    padding: 24px 24px 24px 48px;

    h2 {
      font-size: 14px;
      font-weight: 700;
      color: rgba(37, 43, 66, 1);
    }

    p {
      font-size: 14px;
      font-weight: 700;
      color: rgba(115, 115, 115, 1);
    }
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
    width: 783px;
    height: 796px;

    hr {
      width: 100%;
      border: 1px solid #e0e0e0;
      margin: 0px 5px 10px 5px;
    }

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      gap: 20px;
      width: 100%;

      h2 {
        font-size: 16px;
        font-weight: 700;
        color: #252b42;
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        list-style: none;
      }

      a {
        text-decoration: none;
        color: #737373;
        font-size: 1.2rem;
        font-weight: 600;
      }

      a.active {
        color: #23a6f0 !important;
        font-size: 1.2rem;
        font-weight: 600;
      }

      svg {
        width: 40px;
        height: 40px;
        border: 2px solid #737373;
        border-radius: 100%;
        color: #737373;
        padding: 6px;
        cursor: pointer;
      }

      svg.disabled {
        border: 2px solid #e0e0e0;
        color: #e0e0e0;
      }
    }
  }
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 20px 0px;
  background-color: transparent;

  .card-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px 0px;
    background-color: transparent;

    img {
      width: 170px;
      height: 150px;
    }

    h3 {
      font-size: 16px;
      font-weight: 700;
      color: #252b42;
    }

    h4 {
      font-size: 14px;
      font-weight: 700;
      color: #737373;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      padding: 5px;
      margin: 10px;
    }
  }

  .card-product:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 1px 1px 1px #666464;

    img {
      transform: scale(1.2);
    }
  }
}

.section-shop.reverse aside {
  background-image: url("public/images/aside-2.png");
}

.prices {
  font-size: 16px;
  font-weight: 700;
  color: #bdbdbd;
  display: flex;
  gap: 6px;

  span {
    font-weight: 700;
    color: #23856d;
  }
}

.section-most-popular {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  .container-most-popular {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    width: 100%;

    .most-popular {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 40px;
      height: 100%;

      #img-popular:hover,
      .img:hover {
        transform: scale(1.1);
      }

      h3 {
        font-size: 24px;
        font-weight: 700;
        color: #252b42;
      }

      .description {
        font-size: 16px;
        font-weight: 700;
        color: #737373;
        width: 50%;
        text-align: center;
      }

      h4 {
        font-size: 16px;
        font-weight: 700;
        color: #252b42;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 50px 0px;
    width: 100%;

    .card-list {
      cursor: pointer;
      display: flex;
      gap: 10px;

      h3 {
        color: #e74040;
        font-weight: bold;
        font-size: 40px;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 5px;
      }

      p {
        color: #737373;
        font-weight: 400;
        font-size: 14px;
      }

      h4 {
        color: #252b42;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}

.reverse {
  flex-direction: row-reverse !important;
}

.space-between {
  width: 100%;
  justify-content: space-between !important;
}

.space-evenly {
  width: 100%;
  justify-content: space-evenly !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.start {
  justify-content: start !important;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.row-fixed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section {
  display: flex;
  flex-direction: column;
  padding: 100px 8%;
  background-color: transparent;
}

.selection-color {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;

  button {
    background-color: #ffffff;
    color: #737373;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid #737373;
    border-radius: 100%;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  button:nth-child(1) {
    background-color: #1337c5;
  }

  button:nth-child(2) {
    background-color: #e74040;
  }

  button:nth-child(3) {
    background-color: #23856d;
  }

  button:nth-child(4) {
    background-color: yellowgreen;
  }
}

.bestseller {
  background-color: #ffffff;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: #252b42;
    padding: 10px;
  }

  hr {
    width: 100%;
    border: 1px solid #e0e0e0;
    margin: 10px 5px 10px 5px;
  }

  .products {
    justify-content: space-around !important;
  }

  #logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
  }
}

.featured-posts {
  align-items: center;
  background-color: #ffffff;

  h4 {
    font-size: 14px;
    font-weight: 700;
    color: #23a6f0;
    margin: 10px 0;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    color: #252b42;
    margin: 10px 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 50px 0px;
    width: 100%;

    .card {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      padding: 20px;
      width: 360px;

      .card-image {
        position: relative;
        display: inline-block;

        img {
          display: block;
          width: 100%;
          height: auto;
        }

        .badge {
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: #e74040;
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          font-weight: bold;
        }
      }

      .card-info {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      h4 {
        font-size: 20px;
        font-weight: 700;
        color: #252b42;
        margin: 10px 0;
      }

      .statistics {
        margin: 15px 0px;
      }

      .tab {
        font-size: 12px;
        font-weight: 400;
        color: #737373;
      }

      .tab.active {
        color: #23a6f0;
        font-weight: 700;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #252b42;
  color: #ffffff;
  padding: 20px 15%;
  gap: 20px;

  button {
    padding: 10px 20px;
    background-color: #23a6f0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #1f1e1e;
    cursor: pointer;
    /* margin-right: 6%; */
  }

  header {
    h2 {
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
    }
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;

    .info-column {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 10px 0;
      }

      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .info-company {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;

      h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 10px 0;
      }

      p {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    cursor: pointer;
  }
}

/* Responsividade */

/* Ajustes para telas celulares e tablets (celulares) */
@media (max-width: 1235px) {
  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffffff;
    text-align: center;

    span {
      font-size: 2rem;
      font-weight: 800;
      color: #252b42;
    }

    .title {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    #nav-links {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px 0 0 0;
      gap: 20px;

      a {
        font-size: 1.3rem;
        font-weight: 500;
        color: #737373;
        text-decoration: none;
      }
    }

    .menu.active #nav-links {
      display: flex;
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .icons-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5%;
    }

    .icons-mobile img {
      width: 30px; /* Ajuste o tamanho conforme necessário */
      margin: 10px;
      filter: brightness(0) invert(0);
    }
  }

  #carousel-center {
    justify-content: center;

    svg {
      margin: 0 0px;
    }
  }

  .row {
    flex-direction: column;
  }

  .space-between {
    justify-content: center;
  }

  .section-shop {
    flex-direction: column !important;

    aside {
      width: 100%;
      padding: 20px;
      margin: 20px 0px;
    }

    article {
      width: 100%;
      flex-direction: column;
      height: 100%;

      header {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        width: 100%;
      }
    }
  }

  .container-most-popular {
    flex-direction: column !important;
    gap: 20px;

    aside {
      width: 100%;
      padding: 20px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .list {
    flex-direction: column !important;
  }

  #logos {
    flex-direction: column !important;
    gap: 30px;
  }

  .card-info.start {
    justify-content: start !important;
  }

  .info {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 20px;

    .info-column {
      gap: 10px;
    }

    .info-company {
      gap: 10px;

      div {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }

  footer {
    padding: 20px 50px;
  }
}
